<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>

    <!-- 공용함수 호출 -->
    <script src="/static/api.js"></script>
    
    <title>Post Detail</title>
  </head>
  <script>
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const postTime = urlParams.get('postTime');
    console.log(postTime);

    let userInfo;
    getSelf( function (user) {
        userInfo = user;
    });

    $(document).ready(function () {
      detail_post();
    });

    function detail_post() {
      $('#postDetail').empty();

      $.ajax({
        type: 'GET',
        url: `/api/post/detail/${postTime}`,
        data: {},
        error: function (xhr, status, error) {
          if (status == 404) {
            alert('게시글 불러오기에 실패했습니다.');
          }
          window.location.herf = '/main';
        },
        success: function (response) {
          let result = response['result'];
          let title = result['title'];
          let writer = result['writer'];
          let time = result['postTime'];
          let contents = result['contents'];

          let dateY = time.substr(0, 4);
          let dateM = time.substr(4, 2);
          let dateD = time.substr(6, 2);
          let dateH = time.substr(8, 2);
          let dateMi = time.substr(10, 2);
          console.log(dateY, dateM, dateD, dateH, dateMi);
          let postingDate =
            dateY + '-' + dateM + '-' + dateD + ' ' + dateH + ':' + dateMi;

          let temp_html = `<a id="title">
                                        Title : ${title}
                                    </a>
                                    <p></p>
                                    <a id="writer">
                                        Writer : ${writer}
                                    </a>
                                    <p></p>
                                    <a id="date">
                                        Date : ${postingDate}
                                    </a>
                                    <p></p>
                                    <label for="contents">
                                        Contents
                                    </label>
                                    <p></p>
                                    <textarea id="contents" style="height: 100px; width: 344px; font-size: larger;" readonly>${contents}</textarea>
                                    <p></p>
                                    <a>
                                    ---------------------------------------------------
                                    </a>`;
          $('#postDetail').append(temp_html);
        },
      });
    }

    function go_edit() {
      window.location.href = '/post/edit?postTime=' + postTime;
    }

    function commentSave() {
      let postId = postTime;
      let userId = userInfo.nickName;
      let contents = $('#commentTextarea').val();
      let commentTime = new Date().toString();


      $.ajax({
        type: "POST",
        url: `/api/posts/comments`,
        data: { postId, userId, contents, commentTime },
        success: function (response) {
          alert(response.successMsg);
          if (confirm("로딩을 위해 새로고침 하겠습니다.")){
            window.location.reload();
          } else {
            return;
          }
        },
        error: function (error) {
          return alert(error.responseJSON.errorMsg);
        }
      });
    }

    function commentShow() {
      $('#commentList').empty();

      $.ajax({
        type: 'GET',
        url: '/api/posts/comments',
        data: {},
        success: function(response) {
          console.log("성공!");
          return;
        },
        error: function(err) {
          console.log("에러");
          return;
        }
      });
    }


  </script>
  <body>
    <h1>This page is Post Detail page!</h1>
    <button onclick="window.location.href='/users/login'">로 그 인</button>
    <p></p>
    <button onclick="signOut()">로 그 아 웃</button>
    <p></p>
    <button onclick="window.location.href='/main'">처 음 으 로</button>
    <p></p>
    <a> --------------------------------------------------- </a>
    <p></p>
    <div id="postDetail">
      <a id="title"> Title : test title </a>
      <p></p>
      <a id="writer"> Writer : test writer </a>
      <p></p>
      <a id="date"> Date : test date </a>
      <p></p>
      <label for="contents"> Contents </label>
      <p></p>
      <textarea
        id="contents"
        style="height: 100px; width: 344px; font-size: larger"
        readonly
      ></textarea>
    </div>
    <p></p>
    <button onclick="go_edit()">수 정 하 기</button>
    <p></p>
    <p></p>
    <a> --------------------------------------------------- </a>
    <p></p>

    <div id="commentArea">
      <label for="commentTextarea">
        댓 글
      </label>
      <p></p>
      <textarea
          id="commentTextarea"
          style="height: 100px; width: 50%">
      </textarea>
      <p></p>
      <button onclick="commentSave()">댓 글 등 록</button>
    </div>

    <div id="commentList">
      <h3>댓글</h3>
      <p></p>
      <a> --------------------------------------------------- </a>
      <% for(let comment of comments) { %>
      <p></p>
      <label for="comment_contents">댓글내용:</label>
      <p></p>
      <a id="comment_contents"><%= comment.contents %></a>
      <p style="height: 1px;"></p>
      <label for="comment_userId">작성자:</label>
      <p></p>
      <a id="comment_userId"><%= comment.userId %></a>
      <p style="height: 1px;"></p>
      <label for="comment_commentTime">작성 시간:</label>
      <p></p>
      <a id="comment_commentTime"><%= comment.commentTime %></a>
      <p></p>
      <a> --------------------------------------------------- </a>
      <p></p>
      <% } %>
    </div>

    <p></p>
    <button onclick="window.location.href='/main'">처 음 으 로</button>
  </body>
</html>
