<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Login Page</title>

    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
    ></script>
  </head>
  
  <style>
    
  </style>

  <script>
     function login() {
       let nickName = $('#login_nickName').val();
       let pw = $('#login_pw').val();

       $.ajax({
         type: "POST",
         url: `/api/users`,
         data: { nickName, pw },
         success: function (response) {
           if (response["result"] === "success") {
             window.location.href='/main?nickname='+ nickName
           } else if (response["result"] === "failure") {
              alert(response["errorMessage"]);
              return;
           }
         },
         error: function(error) { 
          console.log(error);
          alert(error.responseJSON.errorMessage);
          return;
        }
      });
     };

     


  </script>
  <body>
    <h1>WELCOME TO VISIT THIS BOARD SITE</h1>
    <h1>This page is login page!</h1>
    <a> --------------------------------------------------- </a>
  <p></p>
  <div id="login">
      <div id="id">
         <label for="login_nickName">
            닉네임을 입력해 주세요
         </label>
         <p></p>
         <input type="text" id="login_nickName" style="height: 20px; width: 50%;" required>
      </div>
      <p></p>
      <div id="pw">
          <label for="login_pw">
             비밀 번호를 입력해 주세요
         </label>
         <p></p>
         <input type="text" id="login_pw" style="height: 20px; width: 50%;" required>
      </div>
      <p></p>
     <a> --------------------------------------------------- </a> 
  <p></p>
  <button onclick="login()">
        로 그 인
  </button>
  <p></p>
  <button onclick="window.location.href='/users/signup'">
    회 원 가 입
  </button>
  <p></p>
  <button onclick="window.location.href='/main'">
        처 음 으 로
  </button>
  </body>
</html>
